.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  background-image: url("https://www.elsetge.cat/myimg/f/208-2080090_gold-bars-wallpaper-by-patrica-gold-bars-background.jpg");
  height: 100vh;
}

.header {
  width: 99.9vw;
  height: 50px;
  background-color: #f07d3a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* align-content: space-between; */
  border-width: 1px;
  border-style: groove;
}

.head-space {
  margin: 0px 25px;
}

.Profile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  /* background-color: #2b635b; */
  width: 100vw;
  height: 580px;
}

.space {
  margin-right: 700px;
}
.prof-area {
  /* background-color: #4b632b; */
  width: 80vw;
}
.list-head {
  background-color: #f07d3a;
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
  border-style: solid;
  border-width: 0.5px;
}
.list-head1 {
  background-color: #f07d3a;
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  border-style: solid;
  border-width: 0.5px;
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  width: 99.9vw;
  height: 27px;
  background-color: #f0aa3a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* align-content: space-between; */
  border-width: 1px;
  border-style: groove;
}
.list {
  background-color: #f0d83a;
  width: 80vw;
  border-style: solid;
  border-width: 0.1px;
}

.prof-1 {
  background-color: #f0d83a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-left: 500px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 20px;
}

.prof-2 {
  background-color: #f0aa3a;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-right: 500px;
  border-style: solid;
  border-width: 0.5px;
  opacity: 90%;
  width: 80vw;
}

.search {
  margin-left: 150px;
  font-weight: bold;
}

.user-name {
  margin: 0px 50px 120px 0px;
}
.margin {
  margin-left: 40px;
}

.img {
  margin: 20px 0px 20px 0px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
}

.wallet-spacing {
  margin-right: 15px;
}

.p1 {
  margin-left: 10px;
}
.p2 {
  margin-left: 150px;
}
.p3 {
  margin-left: 155px;
}

.wallet {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-around;
}

.overflow {
  overflow: auto;
}

.margin-left {
  margin-left: 15px;
}
